.headerns{
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.circle-back{

    height: 400px;
    width: 400px;

    background-image: linear-gradient(to bottom right, red, blue);
}