.headerns{
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 223, 233);
    align-items: center;
    justify-content: center;
}

.circle-back{
    height: 300px;
    width: 300px;

    background-image: linear-gradient(to bottom right, rgb(53, 51, 167), rgb(40, 40, 51));
    z-index: 1;
}

.circle-front{
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to bottom right, rgb(233, 232, 255), rgb(236, 236, 236));
    z-index: 3;
}

.h1ns{
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80%;
    margin: 20px auto;
    
}

@media (min-width: 1000px){
    .h1ns{
        font-size: 4rem;
        
    }

    .headerns{
        flex-direction: row;
        height: 70vh;
        padding: 50px;
    }
}

.valores{
    height: 180vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px;
}

.h1vl{
    color: rgb(49, 49, 49);
    font-size: 2rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.h2vl{
    color: rgb(81, 81, 81);
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.contenedorvl{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boxvl{
    height: 250px;
    width: 200px;
    margin: auto;
    background-color: rgb(218, 218, 218);
    border-radius: 1em;
}

@media (min-width: 1000px){

    .valores{
        height: 100vh;
    }

    .h1vl{
        font-size: 4rem;
        
    }

    .h2vl{
        font-size: 2rem;
        color: rgb(81, 81, 81);
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      
    }

    .contenedorvl{
        flex-direction: row;
        gap: 30px;
    }

    .boxvl{
        height: 320px;
        width: 300px;
    }
}

.djcolor{
    color: #000;
    font-style: italic;
}