.headerns{
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.circle-back{
    align-self: flex-start;
    height: 400px;
    width: 400px;
    border-radius: 50% 60% 50% 70%;
    background-image: linear-gradient(to bottom right, red, yellow);
}