.undernav{
    background:linear-gradient(#ffca2c, #084298, #ef0012);
  }
  
  .undernav ul{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 5%;
    list-style-type: none;
  }
  
  .undernav li a{
    text-decoration: none;
    color: #fff;
  }